<h1>Editar o departamento</h1>

<%= render "form", departamento: @departamento %>

<br>

<div>
  <%= link_to "Mostrar os produtos relacionados", @departamento %> |
  <%= link_to "Voltar", departamentos_path %>
</div>
